# ignore lnd data files
*.macaroon
*.db
# ignore all folders with lnd data
/dev/lnd/*
lnd/loopserver/*
# except regtest
!/dev/lnd/regtest/*

#bitcoind/**/datadir/*
bitcoind/**/regtest/*
bitcoind/**/signet/*
lnd/**/datadir-lnd*
lnd/signet/lnd*.pubkey
lnd/signet/lnd*.admin.macaroon
lnd/signet/lnd*.admin.macaroon.base64

mongodb/
